[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "libs/github/fonts"]
	path = libs/github/fonts
	url = https://github.com/powerline/fonts
[submodule "libs/github/zsh-autosuggestions"]
	path = libs/github/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "libs/github/oh-my-zsh"]
	path = libs/github/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "libs/github/powerlevel9k"]
	path = libs/github/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
[submodule "libs/github/i3lock-fancy-multimonitor"]
	path = libs/github/i3lock-fancy-multimonitor
	url = https://github.com/guimeira/i3lock-fancy-multimonitor
[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
